<div class="container">
    <div class="row">
    	<div class="col-md-2">
    		
    		<div class="panel panel-default" style="margin-top: 60px; margin-right: -30px">
    			<button class="btn btn-danger" style="margin-left: 40px;margin-top: 20px"><h5>Lelang Barang</h5></button>
    			<hr>
    			<button class="btn btn-danger" style="margin-left: 35px"><h5>Beli Tiket Lelang</h5></button><br><br><br><br><br>
    		</div>
    	
    	</div>
    	<div class="col-md-10">
	    <!--our-quality-shadow-->
	    <div class="clearfix"></div>
	    <h1 class="heading1">Pengaturan Profil</h1>
		
	    <div class="tabbable-panel margin-tops4" >

	      <div class="tabbable-line">
	      	<div class="panel panel-default">
	        <ul class="nav nav-tabs tabtop  tabsetting" style="margin-left: 20px">
	          <li class="disabled"> <a href="#" data-toggle="tab"> Akun </a> </li>
	          <li class="active"> <a href="#tab_default_2" data-toggle="tab"> Alamat</a> </li>
	          <li class="disabled"> <a href="#" data-toggle="tab"> Lapak </a> </li>
	          <li class="disabled"> <a href="#" data-toggle="tab"> Transaksi</a> </li>
	          
	        </ul>
	        <div class="panel-body">
	        <div class="tab-content margin-tops">
	          <div class="tab-pane active fade in" id="tab_default_1">
	            <div class="col-md-12">	

	               <h3> Edit ALamat </h3> 
	               <hr>
					<form class="form-horizontal" enctype="multipart/form-data" (ngSubmit)="submit(username)" #editalamatForm="ngForm">


                          <div class="form-group">
                            <label for="namaalamat" class="col-sm-2 control-label">Alamat Lengkap</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="alamat" [(ngModel)]="alamat" style="width: 500px">
                            </div>
                          </div>


                        <hr>
                        <button type="submit" class="btn btn-danger pull-right" style="margin-left: 10px">Simpan</button>
                        <button type="button" class="btn btn-default pull-right">Kembali</button>
                        
                     </form>
	           </div>

	          </div>
	          <div class="tab-pane fade" id="tab_default_2">
	
	            <div class="col-md-12">
	            	<h3> Daftar Alamat<button class="btn btn-danger pull-right" style="margin-right: 20px">+ Tambah Alamat</button></h3>
	            	<hr>
	            	<div class="row">
	            		<div class="col-md-2">
	            			Nama Alamat
	            		</div>
	            		<div class="col-md-6">
	            			Alamat
	            		</div>
	            	</div>
				</div>
	          </div>
	          <div class="tab-pane fade" id="tab_default_3">
	            <div class="col-md-12">
	            	<h3> Informasi Lapak<button class="btn btn-danger pull-right" style="margin-right: 20px">Edit</button></h3>
	            	<hr>
	            	<p>Foto Header Lapak</p>
	               <hr>
	            	<p>Deskripsi Lapak</p>
	               <hr>
	               <p>Catatan Pelapak</p>
	               <hr>
				</div>
	          </div>
	          <div class="tab-pane fade" id="tab_default_4">

	            <div class="col-md-8">
				</div>
	          </div>
	          <div class="tab-pane fade" id="tab_default_5">

	            <div class="col-md-8">

	             </div>
	          </div>
	        </div>
	        </div>
	      </div>
	    </div>
	    </div>
	   </div>
    </div>
  </div>