<app-navbar></app-navbar>

<br>
    <div class="row">
    	<div class="col-md-offset-2 col-md-8">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Lelang Barang</a></li>
                            
                        </ul>
                </div>
                <div class="panel-body">
                            <div style="margin-left: 20px">
                            Fitur ini dapat digunakan untuk melelang satu jenis barang, dengan beberapa varian seperti warna dan ukuran.<br><br><br>
                            
                        <h4> Tentukan barang yang akan anda lelang</h4>
                        <div class="row">
                        <hr class="col-xs-11">                       
                        </div>
                        </div><br>

                    <form class="form-horizontal" enctype="multipart/form-data" (ngSubmit)="submit()" #bukalelangForm="ngForm">
                          <div class="form-group">
                            <label for="namabarang" class="col-sm-2 control-label">Nama Barang</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="namabarang" [(ngModel)]="namabarang" placeholder="Nama barang" style="width: 500px" required #bukalelangnamabarang="ngModel">

                              <div [hidden]="bukalelangnamabarang.valid || bukalelangnamabarang.pristine"
                                  class="alert alert-danger">
                                  Nama Barang wajib diisi
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Kategori</label>
                            <div class="col-sm-10">
                            <select class="form-control" name="kategori" [(ngModel)]="kategori" style="width: 200px" required #bukalelangkategori="ngModel">
                              <option>Seni dan Kerajinan</option>
                              <option>Reklame</option>
                              <option>Aksesoris</option>
                              <option>Elektronik</option>
                              <option>Kendaraan</option>
                              <option>Perkakas</option>
                              <option>Perhiasan</option>
                              <option>Kendaraan</option>
                              <option>Alat Musik</option>
                            </select>
                            </div>
                          </div>
                        <br>
                        
                        <div style="margin-left: 20px">
                        <h4>Tuliskan Deskripsi Barang Anda</h4>  
                        <hr class="col-md-11">
                        </div>

                        <div class="form-group">
                        <label for="kondisi" class="col-sm-2 control-label">Kondisi</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                  <input type="radio" name="kondisi" id="inlineRadio1" [(ngModel)]="kondisi" value="Baru" required #bukalelangkondisi="ngModel"> Baru
                                </label>
                            
                                <label class="radio-inline">
                                  <input type="radio" name="kondisi" id="inlineRadio1" [(ngModel)]="kondisi" value="Bekas" required #bukalelangkondisi="ngModel"> Bekas
                                </label>
                            </div>
                        </div>

                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Berat</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="berat" [(ngModel)]="berat" placeholder="Berat dalam kg" style="width: 200px" required #bukalelangberat="ngModel" ngModel pattern="[0-9]+">

                              <div [hidden]="bukalelangberat.valid || bukalelangberat.pristine"
                                  class="alert alert-danger">
                                  Berat wajib diisi dengan angka
                              </div>
                            </div>
                          </div>
                     
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Harga Sementara</label>
                            <div class="col-sm-10">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                      <div class="input-group-addon">Rp</div>
                                      <input type="text" class="form-control" name="hargasementara" [(ngModel)]="hargasementara" placeholder="Harga Sementara" style="width: 200px" required #bukalelanghargasementara="ngModel" ngModel pattern="[0-9]+">
                                    </div>
                                    <div [hidden]="bukalelanghargasementara.valid || bukalelanghargasementara.pristine"
                                          class="alert alert-danger">
                                          Harga sementara wajib diisi dengan angka
                                      </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Harga Limit</label>
                            <div class="col-sm-10">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                      <div class="input-group-addon">Rp</div>
                                      <input type="text" class="form-control" name="hargalimit" [(ngModel)]="hargalimit" placeholder="Harga Limit" style="width: 200px" required #bukalelanghargalimit="ngModel" ngModel pattern="[0-9]+">
                                    </div>
                                     <div [hidden]="bukalelanghargalimit.valid || bukalelanghargalimit.pristine"
                                          class="alert alert-danger">
                                          Harga limit wajib diisi dengan angka
                                      </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Batas Penawaran Pertama</label>
                            <div class="col-sm-10">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                      <div class="input-group-addon">Rp</div>
                                      <input type="text" class="form-control" name="bataspenawaran" [(ngModel)]="bataspenawaran" placeholder="Batas Penawaran Pertama" style="width: 200px" required #bukalelangbataspenawaran="ngModel" ngModel pattern="[0-9]+">
                                    </div>
                                     <div [hidden]="bukalelangbataspenawaran.valid || bukalelangbataspenawaran.pristine"
                                          class="alert alert-danger">
                                          Batas penawaran wajib diisi dengan angka
                                      </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="namabarang" class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="editor" name="spesifikasibarang" [(ngModel)]="spesifikasibarang"></textarea>
                            </div>
                          </div>

                        <div class="form-group">
                          <label for="exampleInputFile" class="col-sm-2 control-label">Foto Sertifikat</label>
                          <div class="col-sm-10">
                            <input type="file" [multiple]="false" name="foto" #fotosertifikat>
                            <p class="help-block">Upload sertifikat jika ada.</p>
                          </div>
                        </div>


                        <div class="form-group">
                              <label for="inputPassword3" class="col-sm-2 control-label">Gambar</label>
                              <div class="col-sm-10">
                              <app-dropzone #file></app-dropzone>
                                </div>
                         </div> 
                                
                        <button type="submit" class="btn btn-danger pull-right" [disabled]="!bukalelangnamabarang.valid || !bukalelangkategori.valid || !bukalelangkondisi.valid || !bukalelangberat.valid || !bukalelanghargasementara.valid || !bukalelanghargalimit.valid || !bukalelangbataspenawaran.valid || !spesifikasibarang"
                         style="margin-left: 10px">Simpan</button>
                        <button type="button" class="btn btn-default pull-right">Batal</button>   



                        


                    </form>
                        
                   
                </div>
            </div>
        </div>
    </div>
